[fusionauth]
host = "http://${FUSIONAUTH_HOST}"
port = 9011
api_key = "${FUSIONAUTH_API_KEY}"
tenant_id = "${FUSIONAUTH_TENANT_ID}"
application_id = "${FUSIONAUTH_CLIENT_ID}"

[database]
url = "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/squadov"
connections = 8

[cors]
domain = "https://app.${DEPLOYMENT_DOMAIN}"

[server]
domain = "api.${DEPLOYMENT_DOMAIN}"