[fusionauth]
host = "http://${FUSIONAUTH_HOST}"
port = 9011
api_key = "${FUSIONAUTH_API_KEY}"
tenant_id = "${FUSIONAUTH_TENANT_ID}"
application_id = "${FUSIONAUTH_CLIENT_ID}"

[database]
url = "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/squadov"
connections = 8

[cors]
domain = "https://app.${DEPLOYMENT_DOMAIN}"

[gcp]
enabled = true
service_account_key = "gcp/${GCP_PROJECT}.json"

[server]
domain = "api.${DEPLOYMENT_DOMAIN}"
graphql_debug = false

[gitlab]
access_token = "${GITLAB_ACCESS_TOKEN}"
project_id = ${GITLAB_PROJECT_ID}

[kafka]
bootstrap_servers = "${KAFKA_BROKERS}"
wow_combat_log_threads = ${KAFKA_WOW_THREADS}

[kafka.client_keypair]
key = "${KAFKA_CLIENT_KEY}"
secret= "${KAFKA_CLIENT_SECRET}"

[kafka.server_keypair]
key = "${KAFKA_SERVER_KEY}"
secret= "${KAFKA_SERVER_SECRET}"

[vod]
fastify_threads = ${VOD_FASTIFY_THREADS}

[riot]
rso_url = "https://auth.riotgames.com/authorize?client_id=squadov&redirect_uri=https://app.squadov.gg/riot/oauth-callback&response_type=code&scope=openid+offline_access+cpid"
rso_client_id = "squadov"
rso_client_secret = "${RSO_CLIENT_SECRET}"

[riot.rso_api_key]
key = "${RSO_API_KEY}"

[riot.rso_api_key.burst_limit]
requests = 10
seconds = 10

[riot.rso_api_key.bulk_limit]
requests = 500
seconds = 600

[riot.valorant_api_key]
key = "${VALORANT_API_KEY}"

[riot.valorant_api_key.burst_limit]
requests = 20
seconds = 1

[riot.valorant_api_key.bulk_limit]
requests = 100
seconds = 120

[riot.lol_api_key]
key = "${LOL_API_KEY}"

[riot.lol_api_key.burst_limit]
requests = 20
seconds = 1

[riot.lol_api_key.bulk_limit]
requests = 100
seconds = 120

[riot.tft_api_key]
key = "${TFT_API_KEY}"

[riot.tft_api_key.burst_limit]
requests = 20
seconds = 1

[riot.tft_api_key.bulk_limit]
requests = 100
seconds = 120

[rabbitmq]
amqp_url = "${RABBITMQ_AMQP_URL}"
rso_queue = "riot_rso"
valorant_queue = "valorant_api"
lol_queue = "lol_api"
tft_queue = "tft_api"
vod_queue = "squadov_vods"

[email]
sendgrid_api_key = "${SENDGRID_API_KEY}"
invite_template = "d-998cac312ab747f08ab1bdb6181b3277"

[squadov]
app_url = "https://app.${DEPLOYMENT_DOMAIN}"
invite_key = "${INVITE_HMAC_KEY}"
share_key = "${SHARE_ENCRYPTION_KEY}"