db_host = "${DATABASE_HOST}"
db_username = "${POSTGRES_USER}"
db_password = "${POSTGRES_PASSWORD}"
connections = 8

[rabbitmq]
amqp_url = "${RABBITMQ_AMQP_URL}"
prefetch_count = 2
enable_rso = true
rso_queue = "riot_rso"
enable_valorant = true
valorant_queue = "valorant_api"
valorant_workers = 0
failover_valorant_queue = "failover_valorant_api"
failover_valorant_workers = 0
enable_lol = true
lol_queue = "lol_api"
lol_workers = 0
enable_tft = true
tft_queue = "tft_api"
tft_workers = 0
enable_vod = true
vod_queue = "squadov_vods"
wow_combatlog_queue = "wow_combatlog"
enable_csgo = true
csgo_queue = "csgo_rmq"
enable_steam = true
steam_queue = "steam_api"
enable_twitch = true
twitch_queue = "twitch_api"
misc_valorant_queue = "misc_valorant"
enable_sharing = false
sharing_queue = "squadov_sharing"
enable_elasticsearch = false
elasticsearch_queue = "squadov_elasticsearch"
elasticsearch_workers = 0
discord_queue = "discord"