db = "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@127.0.0.1/squadov"
connections = 8

[rabbitmq]
amqp_url = "${RABBITMQ_AMQP_URL}"
prefetch_count = 2
enable_rso = true
rso_queue = "riot_rso"
enable_valorant = true
valorant_queue = "valorant_api"
enable_lol = true
lol_queue = "lol_api"
enable_tft = true
tft_queue = "tft_api"
enable_vod = true
vod_queue = "squadov_vods"
wow_combatlog_queue = "wow_combatlog"
enable_csgo = true
csgo_queue = "csgo_rmq"